*.session
*.session-journal
__pycache__
.env.development.local
.pytest_cache
.coverage
.tox
.mypy_cache
privacy.html
terms.html
.idea/sonarlint/issuestore

# json with text values
# redo postgres
# new webcal
# new bot UI
