[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests_futures = "*"
firebase-admin = "*"
telethon = "*"
ics = "*"
colourlib = "*"
bs4 = "*"
pyyaml = "*"
cryptg = "*"
psycopg2-binary = "*"
jinja2 = "*"
fastapi = "*"
aiofiles = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
