<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <script>
        let docEl = document.documentElement;
        if (docEl) {
            docEl.className = "js";
        }
    </script>
    <link rel="icon" href="../static/images/icons/home.svg"/>
    <link rel="stylesheet" href="../static/css/index.css">
</head>


<body>
<div class=page-wrap>
    <nav class=js-nav>
        <a class=active href="#home" data-scroll>Home</a>
        <a href="#contact" data-contact data-scroll>Contact</a>
        <a href="/coffee" data-contact data-scroll>Brew coffee</a>
        {#        <a href="/login" data-contact data-scroll>Log in</a>#}
        {#        <a href="/signup" data-contact data-scroll>Sign up</a>#}
    </nav>
    <header id=home>
        <div class="wrapper wrapper--hidden">
            <div class=wrapper__wrap>
                <h1 class=header__h1>
                    Hello, Universe.
                </h1>
                <p class=lead>
                    Letovo Analytics bot helps letovians access their schedule via Telegram
                </p>
                <a href="https://t.me/letovoanalyticsbot" class="btn btn--contact" data-contact data-scroll
                   title="Redirect to telegram">
                    <span>
                        Get started
                    </span>
                </a>
            </div>
        </div>
    </header>

    <footer id="contact">
        <div class=wrapper>
            <div class=footer__contact>
                <h4>
                    <a href="mailto:2024kurin.av@student.letovo.ru">
                        2024kurin.av@student.letovo.ru
                    </a>
                </h4>
            </div>
        </div>
        <div class=footer__row>
            <div class=wrapper>
                <div class=footer__lower>
                    <div class=footer__social>
                        <a href="https://t.me/arsikurin" rel=external>Telegram</a>
                        <a href="https://github.com/arsikurin" rel=external>GitHub</a>
                    </div>
                    <div class=footer__copyright>
                        &copy; 2021
                        <a href="/">
                            Arseny Kurin
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>
    if (!!document.querySelector && ("classList" in document.documentElement)) {
        let wrapper = document.querySelector("header .wrapper");
        let nav = document.querySelector("nav");
        setTimeout(function () {
            if (wrapper) wrapper.classList.add("wrapper--active");
            if (nav) nav.classList.add("nav--active");
        }, 300);
    }
</script>
<script src="/static/js/all-5bba9e50.js"></script>
<script src="/static/js/upup.js" async></script>
</body>
</html>